*{
  font-family: system-ui;
}
.logo {
  height: 40px;
  width: auto;
  margin-right: 10px;
}
h1{
  font-weight: bold;
}
.carousel-item img{
  filter: brightness(50%)
}
.carousel-caption h1, .textoPrincipal{
  color: #212529;
}
