/* fuente a toda la web */
*{
  font-family: system-ui;
}
/* le damos altura definida al logo */
.logo {
  height: 2.5rem;
}
/* oscurece un 50% las imagenes del carrusel */
.carousel-item img{
  filter: brightness(50%)
}
/* transici칩n para el carrusel para que no sea tan brusca */
.carousel-item {
  transition: transform 0.5s ease-in-out !important;
}
/* damos posici칩n y tama침o al bot칩n de subir */
#iconoSubir{
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 34px;
  z-index: 1000;
}