/* fuente a toda la web */
*{
  font-family: system-ui;
}
/* le damos altura definida al logo */
.logo {
  height: 2.5rem;
}
/* oscurece un 50% las imagenes del carrusel y le da tamaño */
.carousel-item img{
  object-fit: cover;
  filter: brightness(50%);
  height: 40vh;
  width: 100vw;
}
/* transición para el carrusel para que no sea tan brusca */
.carousel-item {
  transition: transform 0.5s ease-in-out !important;
}
/* damos posición y tamaño al botón de subir */
#iconoSubir{
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 34px;
  z-index: 1000;
}